.mainpage__container {
    height: 650px;
}

/* LEFT SIDE IMAGE LAYOUT */

.imagelayout__container {
    display: flex;
    margin: 15px;
}

/* .imagelayout__imglay {

}  */

.imagelayout__img {
    max-height: 35px;
    max-width: 35px;
}

.imagelayout__text {
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
}

/* Stories alignment section */
.middleContainer{ 
    /* margin-left: 50px !important;  */
    max-width: 700px;
    min-height: 100vh;
    margin: auto;
    overflow-y: scroll;
    height: 650px;

}