/* Navigation Bar Left Grid */

/* Aligns everything to the center */
.align__center{
    align-items: center;
}

/* Adds line across bottom */
.navbar__line{
    border-bottom: 1px solid #dbdbde;
}

/* Navigation Bar Left */
.navbar__leftbar{
    display: flex;
}

/* Logo */
.navbar__logo{
    margin: 8px 10px 8px 16px;
    height: 40px;
    width: auto;
}

/* Search Bar */
.navbar__search{
    height: 40px;
    width: 190px;
    border-radius:25px;
    border: 0px;
    background-color: #eff2f5;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}

/* Navigation bar middle */

.navbar__middle{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}

/* 5 icons */
.navbar__icons{
    width: 120px;
    height: 45px;
}

/* Line at bottom of active icon */
.navbar__icons.active{
    border-bottom: 3px solid #a0c293;
}

/* Right side of grid */

.navbar__righttab {
    display: flex;
    margin-left: 40px;
}

.navbar__rightimg {
    margin-top: 15px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}

.navbar__profilename {
    margin-top: 20px;
    font-weight: 600;
}