.post__container{
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

/* Header */
.post__header{
    display: flex;
    height: 65px;
}

.post__header_img{

}

.post_img{
    margin: 15px;
}

.post__header_text{
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}

/* Description */
.post__description{
    display: flex;
    margin-left: 15px;
}

/* Image */
.post__image{
    margin: 10px 0px;
}

/* Like Count */
.post_likeCountContainer{
    display: flex;
    height: 30px;
    padding: 0px 10px;
    border-bottom: 1px solid #cdd0d4;
}

.post__like{

}

.post__img{
    height: 20px;
}

.post__likecount{
    margin-left: 5px;
}

/* Like, Share, Comment */

.post_likeShare{
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;
}

.post__tab{
    display: flex;
    width: 200px;   
}

.post__tabfirst{

}

.post__tabimg{
    width: 30px;
}

.post__tabtext{
    margin: 5px;
}

.upload__comment{
    border-top: 1px solid #cdd0d4;
    display: flex;
}